{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block extra_head %} <link rel="stylesheet" type="text/css" href="{% static 'blogstyle.css' %}"> {% endblock extra_head %}
{% block body %}

<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic"></h1>
      <h2 class="fw-bold">Discover the Art of Handicraft: A Journey Through History</h2>
      <p class="lead my-3">"Handicrafts are the true expression of human creativity, embodying traditions passed down through generations and reflecting the soul of a culture."</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
      
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Kashmir</strong>
          <h3 class="mb-0">Pashmina Shawls</h3>
          <br>
          <p class="card-text mb-auto">Pashmina is a fine type of wool. Its textiles are first woven in Kashmir. These shawls are made from a fine type of cashmere wool and are then transported to the valley of Kashmir in northern India, where it is entirely hand processed. </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="{% static 'img/blog1.jpg' %}" class="bd-placeholder-img" width="200" height="250" role="img" aria-label="Pashmina Shawls" alt="Pashmina Shawls">

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Punjab</strong>
            <h3 class="mb-0">Woodwork</h3>
            <br>
            <p class="mb-auto">The northern states of India have a rich tradition of the woodwork. Regions in Punjab are famous for its exquisite wooden furniture. Kashmir is famous for its artefacts made from the walnut trees
            <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="{% static 'img/blog2.jpg' %}" class="bd-placeholder-img" width="200" height="250" role="img" aria-label="Pashmina Shawls" alt="Pashmina Shawls">

        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Uttar Pradesh </strong>
            <h3 class="mb-0">Pottery</h3>
            <br>
            <p class="mb-auto">Pottery is considered to be the most sensual form of all arts. The tradition of handmade pottery is prevailing in India since the time of Harappan Civilisation.</p>
            <a href="#" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{% static 'img/blog3.jpg' %}" class="bd-placeholder-img" width="200" height="250" role="img" aria-label="Pashmina Shawls" alt="Pashmina Shawls">
  
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Madhya Pradesh </strong>
            <h3 class="mb-0">Leather</h3>
            <br>
            <p class="mb-auto">The age-old convention of leather skill in India is proved by ancient sages and ascetics. In the past, leather was not only used in making clothes and footwear but also in making caps, bags, saddles, shield etc</p>
            <a href="#" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{% static 'img/blog4.jpg' %}" class="bd-placeholder-img" width="200" height="250" role="img" aria-label="Pashmina Shawls" alt="Pashmina Shawls">
  
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">West Bengal,</strong>
            <h3 class="mb-0">Jute</h3>
            <br>
            <p class="mb-auto">Jute craftsmen have created a worldwide position in the field of jute handicrafts. The huge range of jute crafts includes bags, office stationeries, bangles and other jewellery, footwear, wall-hangings and many more.</p>
            <a href="#" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{% static 'img/blog5.jpeg' %}" class="bd-placeholder-img" width="200" height="250" role="img" aria-label="Pashmina Shawls" alt="Pashmina Shawls">
  
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Karnataka</strong>
            <h3 class="mb-0"> Mysore Paintings</h3>
            <br>
            <p class="mb-auto">The Mysore paintings were created in Mysore during the Wodeyar dynasty. Mysore paintings are an important part of the classical south Indian painting tradition. The paintings of Mysore are known for their elegance, unusual colour combinations, and attention to detail.</p>
            <a href="#" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="{% static 'img/blog6.jpg' %}" class="bd-placeholder-img" width="200" height="250" role="img" aria-label="Pashmina Shawls" alt="Pashmina Shawls">
  
          </div>
        </div>
      </div>    
  </div>
  <div class="blogcontainer">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/blog7.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Craft Bidri Ware</h5>
              <p>A metal handicraft from the Bidar area in Karnataka</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/blog13.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Coir Products</h5>
              <p>Kerala is the land of coconuts. The coconut is an integral part of the life of every Keraliite.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/blog12.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block ">
              <h5>Madhubani Painting</h5>
              <p>Madhubani painting, also called Mithila painting, is a traditional folk art of Bihar</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

{% endblock body %}