{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block extra_head %}{% endblock extra_head %}
{% block body %}






<div class="container-fluid  px-0" >
  <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/eight.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/five.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/six.jpg' %}" class="d-block w-100"alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>


<div class="container my-3">
  <h2 class="my-4 text-center">Find your product....</h2>


  
    <div class="row row-cols-1 row-cols-md-4 g-3">
      {% for product in products %}
      <div class="col">
        <div class="card shadow-sm">
          <div class="image-container">
            <img src="{% static product.image %}" class="card-img-top" alt="{{ product.name }}">
          </div>
          <div class="card-body" style="height: 200px; overflow: hidden;">
            <p class="card-title mb-0"><b>{{ product.name }}</b></p> <br>
            <p class="card-text mb-1">Manufacturer: <b> {{ product.manufacturer }}</b></p>
            <p class="card-text">Price: <b><i class="fa-solid fa-indian-rupee-sign"></i>{{ product.price }}</b></p>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-end">
            <div class="btn-group">
              <a href="{% url 'view_product' product.id %}" class="btn btn-sm btn-outline-secondary">View</a>
              <a href="{% url 'order_from_home' product_id=product.id %}" class="btn btn-sm btn-outline-secondary">order</a>
              <a href="{% url 'add_to_cart' product.id %}" class="btn btn-sm btn-outline-secondary cart">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
              
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  

{% endblock body %}


