{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'signupinstyle.css' %}"> 
{% endblock extra_head %}
{% block body %}

<div class="container">
    <div class="row">

        <!-- Right Column with Registration Form -->
        <div class="col-md-6">
            <div class="form-box">
                <h2>Create Account</h2>
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    
                    <!-- Input Fields for Registration -->
                    <!-- First Name -->
                    <div class="input-field">
                        <input type="text" id="id_first_name" name="first_name" placeholder="First Name" required><br>
                    </div>
                    <!-- Last Name -->
                    <div class="input-field">
                        <input type="text" id="id_last_name" name="last_name" placeholder="Last Name" required><br>
                    </div>
                    <!-- Other Input Fields (Username, Phone Number, Email, Address, Pin Code, User Type, Password, Confirm Password) -->
                    <!-- Add your input fields here -->
                    <div class="input-field">
                        <!-- Username -->
                        
                        <input type="text" id="id_username" name="username" placeholder="User Name" required ><br>
                        <span id="username-error" style="color: red;"></span><br>
                        </div>
                
                        <div class="input-field">
                        <!-- Phone Number -->
                        <input type="text" id="id_phone_number" name="phone_number" placeholder="Phone Number"required><br>
                        </div>
                
                        <div class="input-field">
                        <!-- Email Address -->
                        <input type="email" id="id_email" name="email"placeholder="Email" required><br>
                        </div>
                
                        <div class="input-field">
                        <!-- Address -->
                
                      <textarea id="id_address" name="address" placeholder="Address" required></textarea><br> 
                        </div>
                
                        <div class="input-field">
                        <!-- Pin Code -->
                        <input type="text" id="id_pincode" name="pincode" placeholder="Pin Code" required><br>
                        </div>
                
                        <div class="input-field1">
                        <!-- User Type (Radio Buttons) -->
                        {% comment %} <label>User Type</label><br> {% endcomment %}
                        <input type="radio" id="customer" name="user_type" value="customer" checked>
                        <label for="customer">Customer</label><br>
                        <input type="radio" id="artisan" name="user_type" value="artisan">
                        <label for="artisan">Artisan</label><br>
                        </div>
                
                        <div class="input-field">
                        <!-- Password -->
                
                        <input type="password" id="id_password" name="password" placeholder="Password"  required><br>
                        </div>
                
                        <div class="input-field">
                        <!-- Confirm Password -->
                        <input type="password" id="id_confirm_password" name="confirm_password" placeholder="confirm password"  required><br>
                        </div>
                

                    <!-- Submit Button -->
                    <button class="bn" type="submit">Register</button>
                </form>
                <div class="reg-login">
                    <!-- Link to Login Page -->
                    <br>
                    <p>Existing User? <a href="{% url 'login' %}">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
