{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'signupinstyle.css' %}"> 
{% endblock extra_head %}
{% block body %}
    <div class="form-box1">
    <div>
    <h2>Login</h2>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
</div>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="input-field2">
        <!-- Username -->
        <input type="text" id="id_username" name="username" placeholder="Username" required><br>
        </div>

        <div class="input-field2">
        <!-- Password -->
        <input type="password" id="id_password" name="password" placeholder="password" required><br>
        </div>

        <div class="input-field3">
        <!-- User Type -->
        <input type="radio" id="customer" name="user_type" value="customer" checked>
        <label for="customer">Customer</label><br>
        <input type="radio" id="artisan" name="user_type" value="artisan">
        <label for="artisan">Artisan</label><br>
        </div>

        <!-- Submit Button -->
        <button class="bn" type="submit">Login</button>
    </form>
    <div class="reg-login">
    <!-- Link to Registration Page -->
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </div>
</div>

{% endblock body %}